In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
df = pd.read_csv('Datasets/films.csv')

In [8]:
df.head()

,adult,budget,genres,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,title,vote_average
0,FALSE,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Toy Story,7.7
1,FALSE,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Jumanji,6.9
2,FALSE,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Grumpier Old Men,6.5
3,FALSE,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Waiting to Exhale,6.1
4,FALSE,0,"[{'id': 35, 'name': 'Comedy'}]",8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Father of the Bride Part II,5.7